#mangas{
    background-color: #4b575abb;
    color: white;
    text-align: center;
    padding: 20px;
}
#mangas .contenedor{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -o-flex-wrap: wrap;
}
.info-mangas { /*las class van con punto*/
    margin: 10px;
    max-width: 170px;
    max-height: 220px;
    text-align: center;
}
.info-mangas img {
    width: 150px;
    height: 170px;
    border: 1.5px solid white;
    
}

@media (min-width:700px){
    .info-mangas{
        width: 50%;
    }
}
@media (min-width:960px){
    .info-mangas{
        width: auto;
    }
}

